<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#footer{
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

</style>

<header id="header">
	<h1>Logins por usuário</h1>
</header>
<div>
	<br>
</div>
<div>
	<br>
</div>
<div>
	<br>
</div>
<div>
	<br>
</div>

<body>
	<h2 align="center"> Banco de dados Atualizado<h2>
<div>
	<br>
</div>
<div align="center">
	<backlink>
		<a href="{% url 'statements:report' %}" class="btn btn-info" role="button">Continuar</a>
	</backlink>
</div>
<footer align="center" id="footer">
	<h5>Projeto de formatura PensandoAI- Poli 2015</h5>
</footer>