<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

</style>

<header id="header">
	<h1>Relatórios</h1>
</header>
<body>
    <tr >
    	<a href="{% url 'statements:logins_by_user' %}"><h3>Logins por usuário<h3></a>
    	<a href="{% url 'statements:user_course_relation' %}"><h3>Relação entre usuários e cursos através de views<h3></a>
    	<a href="{% url 'statements:verb_types' %}"><h3>Tipos de verbo<h3></a>
    	<a href="{% url 'statements:user_types' %}"><h3>Tipos de usuário<h3></a>
    	<a href="{% url 'statements:login_logouts' %}"><h3>Logins e logouts por usuário<h3></a>
    </tr>
</body>
<backlink>
	<a href="{% url 'statements:show_statements2' %}" class="btn btn-info" role="button">Atualizar banco de dados</a>
</backlink>
<div>
	<br>
</div>
<footer align="center" id="footer">
	<h5>Projeto de formatura PensandoAI- Poli 2015</h5>
</footer>
